.booking-form-box {
    max-width: 500px;
    border: 1px solid #e4e4e4;
    padding: 15px 15px 15px 15px;
    margin: 10% auto 0;
}

.input-grp {
    width: 160px;
    margin: 10px;
    display: inline-block;
}
.input-grp2 {
    width: 60px;
    margin: 10px;
    display: inline-block;
}
.input-grp3 {
    width: 90px;
    margin: 10px;
    display: inline-block;
}

select:required:invalid {
    color: #666;
}

.booking-form label{
    /*margin-bottom: 5px;
    margin-top: 10px;*/
    font-size: 18px;
    font-weight: bold;
    color: #000
}

input[type=text], input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ccc;
  }
  input[type=number] {
    width: 75px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ccc;
  }
  input[type=submit]:hover {
    background-color: #fb9775;
  }
  input[type=submit]{
      background-color: #f9632f;
      border: none;
      padding: 16px 32px;
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
  }
  #currency{
      color: red;
  }